# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# MLflow
mlruns/
mlflow.db

# Artifacts
artifacts/models

# Model Checkpoints
*.pth
*.pt
*.ckpt

# Dataset
data/raw/
data/processed/

# Temporary Files
temp/
tmp/

# Cache
.cache/
.gradio/
gradio_cached_examples/

# PyTorch
runs/
wandb/

# Build Files
build/
dist/
*.egg-info/

# Environment Variables
.env

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/

# Vim
*.swp
*.swo

# Misc
*.bak